<div class="row">

  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
<ul>
  <li>
    <h1>Trabajo 1</h1> - <h3>(years)</h3>
  </li>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem blanditiis dolores praesentium vel exercitationem itaque! Et ratione nisi amet voluptatem id officiis repellendus officia cumque. Maxime consequuntur non provident aperiam?</p>
</ul>

<ul>
  <li>
    <h1>Trabajo 2</h1> - <h3>(years)</h3>
  </li>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem blanditiis dolores praesentium vel exercitationem itaque! Et ratione nisi amet voluptatem id officiis repellendus officia cumque. Maxime consequuntur non provident aperiam?</p>
</ul>

  </div>

</div>
