.row {
  padding: 20px;
  }
div {
  background-color: #2e4b6b;
  text-align: center;
  }
/*equieta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 20%;

}
/*Estilo Foto perfil*/
@media (min-width: 576px) {
  #fotoperfil {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top: 810px;
  }
}

@media (max-width: 575px) {
  #fotoperfil {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 43%;
    top: 1245px;
  }
}
