<div class="row">
<h1>Proyectos</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-12 col-lg-12 parte1">
      <h2>Sistema Gestión de PyME</h2>
      <p>Objetivo del proyecto, crear un programa/sistema integral para una PyME, que incluya los módulos de: compras, ventas, control de stock, estadísticas y contabilidad.
        Proyecto en desarrollo actualmente.
      </p>
      <h2>Portfolio Web Argentina Programa</h2>
      <p>Objetivo del proyecto, crear un Portfolio personal, que contenga los respectivos componentes y con la arquitectura web distribuida, identificando
        frontend, backend y base de datos, cada uno realizado con diferentes software, (Visual Studio Code, Apache NetBeans IDE, MySQL Workbench)
        Proyecto finalizado el 26/03/2023.
      </p>
    </div>
  </div>
</div>
