.row{
  background-color: #21272e;
  color: white;
  padding: 20px;
  --bs-gutter-x: 0rem;
}
.circulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-color: white;
  animation: circulo 6s;
  animation-iteration-count: initial;
  animation-timing-function: ease;

}

@keyframes circulo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

