.row {
  padding: 20px;
  }
div {
  background-color: #21272e;
  text-align: center;
  color: white;
  }
/*equieta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 20%;

}
/*Estilo Foto perfil*/
@media (min-width: 576px) {
  #fotoperfil {

    border-radius: 100%;
    box-shadow: -1px -1px 20px #C7E596;
    position: absolute;
    width: 13%;
    left: 3%;
    top: 850px;

  }
  .descripcion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 575px) {
  #fotoperfil {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #C7E596;
    left: 43%;
    top: 1245px;
  }
}
